header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
header div img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
nav .link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}